<div id='new-user-form'>
  <%= render NewUserFormComponent.new %>
</div>

<div id="users" class="prose px-4 py-2">
  <h2>Users list</h2>

  <%= render UserDetailsComponent.with_collection(@users) %>
</div>
